#main{
    background-color: brown;
}
#watch{
background-color: aqua;
background-color: blanchedalmond;
scroll-margin-inline-start: 12;
}
#button{
    background-position: 4%;
    background-color: brown;
}
